# Prefer `python3 setup_group.py create elagente` so Google URLs are converted
# to IDs automatically and the resulting secret is written with mode 0600.

[elagente]
admin_password = ""
organizer_name = ""
folder_id = ""
slides_folder_id = ""
slides_template_id = ""
zoom_link = ""
spreadsheet_id = ""
encryption_key = ""

[elagente.gcp_service_account]
type = "service_account"
project_id = ""
private_key_id = ""
private_key = ""
client_email = ""
client_id = ""
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = ""
universe_domain = "googleapis.com"
